@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
    }
}



::-webkit-scrollbar {
    display: none;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    transition: background-image ease;

}

.content-div:hover {
    background-image: linear-gradient(to bottom right, #411150, #945ba5) !important;
}

.link-underline::after {
    content: "";
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #777;
    transition: width 0.2s;

}

.link-underline:hover::after {
    width: 100%;
}

.contact-form {
    border-width: 0px !important;
    border-bottom-width: 2px !important;
    border-color: white !important;
}

.contact-form:focus {
    outline: none;
}